*.result
*.json
*.jld2
*.cov
*.info
Manifest.toml

.vscode

#Do not save checkpoints and testpoints
examples/.ipynb_checkpoints/*
test/main_testing.jl
benchmark/*

#Docs
docs/build/
docs/site/
data/*
